<div class="container-fluid">
  <div class="row">
    <form #quoteForm='ngForm'>
      <div class="form-group">
        <label for="name">Quote:</label>
        <input type="text" class="form-control" id="name" [(ngModel)]="newQuote.name" rows="4" name="name" #name="ngModel" required>
        <div [hidden]="name.valid || name.tony" class="alert alert-danger">
          <p>Quote is Required</p>
        </div>
      </div>
      <div class="form-group">
        <label for="description">Author:</label>
        <input type="text" class="form-control" id="description" [(ngModel)]="newQuote.description" name="description" #description="ngModel" required>
        <div [hidden]="description.valid || description.tony" class="alert alert-danger">
          <p>Author's name is Required</p>
        </div>
        <label for="description">Post's Person:</label>
        <input type="text"  class="form-control" id="description" [(ngModel)]="newQuote.description" name="description" #description="ngModel" required>
        <div [hidden]="description.valid || description.tony" class="alert alert-danger">
          <p>Person's name is Required</p>
        </div>
      </div>
      <div class="form-group">
        <label for="complete">Date of Post:</label>
        <input type="date" id="complete" [(ngModel)]="newQuote.completeDate" name="completeDate" #completeDate="ngModel" required>
        <div [hidden]="completeDate.valid || completeDate.tony" class="alert alert-danger">
          <p>Posting Date is Required</p>
        </div>
      </div>
      <button type="submit" class="btn btn-success btn-lg">Add Quote</button>
    </form>
  </div>
</div>
